# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
System Scanner/test_report.json
System Scanner/*.json
System Scanner/dist/
System Scanner/build/
System Scanner/*.spec
